* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
h1 {
  padding: 20px;
  font-size: 50px;
  text-shadow: 3px 2px 1px rgb(233, 244, 253);
}
